<div class="cta-container visible" entrance-effect="fade-in" effect-duration=300 effect-no-mobile>
  <app-portefini-screen-one></app-portefini-screen-one>

  <div class="cta-inner" entrance-effect>
    <div class="cta">
      <h1>Browse men's outfits by:</h1>
      <div class="action-buttons">
        <a data-menu="occasions" role="button" entrance-effect="fade-in" effect-delay=600 effect-no-mobile on-click="_visitSection">Occasions</a>
        <a data-menu="clothes" role="button" entrance-effect="fade-in" effect-delay=600 effect-no-mobile on-click="_visitSection">Clothes</a>
      </div>
    </div>
  </div>
</div>
