$primary-color: #033076;
$secondary-color: #606060;
$lite-color: #c0c0c0;
$background-primary-color: white;
$background-secondary-color: #f7f6f6;
$ternary-color: #7a7a7a;
$orange-lite: #ffa834;
$orange-dark: #ff7e34;
